@import url(null.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@font-face {
    font-family: "FTAnchorYard";
    src: url(../fonts/FTAnchorYard-Regular.woff2) format("woff2"), url(../fonts/FTAnchorYard-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* ---------ОБЩИЕ СВОЙСТВА ДЛЯ 1-ой И 2-ой СТРАНИЦ--------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/* ---------ПЕРВАЯ СТРАНИЦА--------------- */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
.header-container {
    max-width: 1300px;
    margin: 0 auto;
}
.header-list {
    text-align: center;
}
.header-list li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(32, 92, 92);
    padding: 15px 55px 0 0;
    margin: 0 0 10px 0;
}
.header-item {
    padding: 15px 0 0 0;

}
.main-container {
    max-width: 1300px;
    margin: 0 auto;
}
.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;    
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    line-height: 1.1;    
    margin: 20px;
}
.proverb {
    font-family: "Bad Script", serif;
    width: 350px;
    text-align: right;
    line-height: 2;
    margin: 0 0 25px 950px;
}

.poem {
    font-family: "FTAnchorYard", serif;
    text-align: right; 
    line-height: 2;
    text-align: right;
    text-transform: lowercase;
    margin: 0 0 25px 0;
}
.proverb p,
.poem p {
    font-family: "Roboto", sans-serif;
    text-decoration: line-through;
    color: brown;
    padding: 5px 0 0 0;
}
.subtitle {
    font-size: 24px;
    font-weight: 500;
    color: rgb(133, 87, 28);
    text-align: center;
    text-decoration: overline;
    text-shadow: 4px 2px 15px rgb(233, 132, 211), 2px 2px 2px rgb(15, 15, 14);
    margin: 0 0 15px 0;
}
.block-1 {
    width: 800px;
    margin: 30px auto;
    height: 250px;
    overflow: scroll;
}
.text p{
    padding: 10px;
}
.text-1>p ~ p {
    text-align: right;
    color: rgb(41, 185, 41);
}
img{
    padding: 20px;
    margin: 10px;
}
.ball-1 {
    width: 300px;

}
.ball-2 {
    width: 300px;
    height: 250px;
}
.ball-3 {
    width: 200px;
    height: 300px;
}
.block-2 {
    margin: 0 0 15px 0;
}
p.par1 {
    color: rgb(119, 41, 106);
    word-spacing: 5px;
    text-decoration: line-through;
    text-transform: capitalize;
    padding: 10px 0 33px 68px;
}
p.par1 + p {
    font-family: "Bad Script", serif;
    font-size: 20px;
    color: blue;
    width: 179px;
    height: 100px;
    overflow: visible;
}
p.par3 + p  ~ p {
    color: rgb(187, 152, 251);
    max-width: 1000px;
    line-height: 1.5;
    margin: 0 0 15px 300px;
    padding: 0;
}
.list1 {
    height: 150px;
    overflow: auto;
    margin: 20px;
    padding: 20px 0 20px 30px;
}
.list1 li {
    font-family: "Bad Script", serif;
    color: rgb(64, 92, 92);
    padding: 0 0 25px 15px;
}
.list2 {
    width: 75%;
    color: rgb(182, 67, 52);
    font-size: 21px;
    max-height: 200px;
    overflow: hidden;
    margin: 0 0 20px 0;
}
.list2 li {
    text-indent: 15px;
    text-shadow:  1px 3px 5px rgba(83, 128, 180, 0.692), -1px -5px 5px rgba(153, 83, 180, 0.863);
    padding: 8px;
    text-align: justify;
}

.block-3 {
    display: inline;
    color: red;
    font-size: 23px;
    margin: 35px;
    padding: 108px;
    text-decoration: line-through;
    width: 75%;
    height: 35px;
    overflow: scroll;
    margin: 0 0 15px 0;
}
.block-4 {
    margin: 0 0 15px 0;
}
.text-4 {
    font-family: "Bad Script", serif;
    color: rgb(0, 162, 255);
    text-decoration: underline;
}
.text-4 p {
    padding: 0 0 45px 0;

}
.list3{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 20px;
}
.list3 li {
    color: rgb(255, 0, 157);
    display: inline-block;
    width: 48%;
    padding: 0 0 25px 0;
    margin: 0 20px 20px 0;
}
.list3 li ~ li {
    text-align: right;
}
span {
    display: block;
    color: green;
    text-transform: uppercase;
    padding: 15px 0 15px 0;
    line-height: 1.3;
    text-decoration: none;
}
footer{
    max-width: 1300px;
    margin: 0 auto;
}
.block-footer {
    max-width: 800px;
    margin: 25px auto;
    text-align: center;
}
.ul-link li {
    display: inline-block;
}


/* ---------ВТОРАЯ СТРАНИЦА--------------- */
/*  ПОДКЛЮЧЕННЫЕ ШРИФТЫ 
    font-family: "Lato", sans-serif;      link google fonts -  400 700 900
*/

.maket-container {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    max-width: 810px;
    margin: 0 auto;
}
.maket-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
    margin: 0 0 92px 0;
}
.maket-image{
    margin: 0 0 60px 0;
}
.maket-img {
    width: 810px;
    height: 360px;
    padding: 0;
}
.text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1E212C;
}
.maket-text {
    line-height: 1.6;
    color: #424551;
} 
.text-bold-1 {
    margin: 0 0 24px 0;
}
.maket-text.maket-text-1 .paragraph {
    padding:  0 0 26px 0;
}
.maket-text-1 {
    margin: 0 0 48px 0;
}
.text-bold-2 {
    padding: 0 0 0 58px;
    margin: 0 0 48px 0;
}
.maket-text.maket-text-2 .paragraph {
    margin: 0 0 24px 0;
}
.maket-list > li {
    padding: 0 0 4px 32px;
}
.maket-li {
    padding: 0 0 0 32px;
}
.maket-list {
    margin: 0 0 24px 0;
}